body {
    margin: 0;
    overflow: hidden;
}

#stats {
    position: absolute;
    top: 0;
    left: 0;
}

#play {
    position: absolute;
    width: 95px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-family: sans-serif;
    left: 50%;
    margin-left: -48px;
    top: 15px;
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 22px;
}

audio {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 15px;
    margin-left: -150px;
    display: none; /* Start hidden */
}
